*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-size: 22px;
    animation: intro 600ms ease-in-out 0 1 normal forwards;
    scroll-behavior: smooth;
    background: #fff;
}

a {
    text-decoration: none;
}

@keyframes intro {
    to {
        display: block;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 4px double silver;
    background-color: rgb(174, 115, 115);
    filter: drop-shadow(0px 0px pink);
    border-radius: 50%;
}
nav {
    width: auto;
    margin: 0px 10px;
}
.nav-link {
    margin: 0px 5px;
}

.parallax {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    position: relative;
}

.parallax p{
    position: relative;
    padding: 5px 10px;
    margin: 0 5px;
    color: white;
    font-size: 1.8em;
    text-align: center;
    text-shadow: 0px 0px 3px black;
    background-color: rgba(171, 171, 171, 0.533);
    border: 2px double black;
    border-radius: 5px;

}

.parallax::before {
    content: "";
    background-image: url('../images/meals3.jpeg');
    position: fixed;
    height: 400px;
    width: 100vw;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.punk-heading {
    color: black;
    font-family: monospace;
    font-size: 1.6em;
    text-shadow: 0px 0px 3px white;
    font-weight: 800;
    filter: drop-shadow(0px 0px wite);
}

.shell-cove {
    margin-left: 40%;
}

.active {
    visibility: hidden;
    margin-bottom: -10%;
}

main {
    height: 100%;
    margin-bottom: -20px;
}

section {}

.gallery {
    width: 85%;
    margin: auto;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #dedede;
}
.gallery-item{
    margin: 10px auto;
}

.gallery-img {
    width: 200px;
    height: auto;
    margin: auto;
    border: 3px double black;
    border-radius: 5px;
}

.gallery-img:active {
    width: 100%;
}

.main,
.section-heading,
.contacts-wrapper,
.gallery-wrapper,
.menu,
.footer {
    padding: 5%;
    background: #fff;
}

.menu-inner {
    width: 90%;
    margin: auto;
    padding: 10px 20px;
    box-shadow: 0px 0px 1px black;
}

.section-heading {
    width: auto;
    padding: 10px;
    text-align: center;
}

.starters,
.mains,
.sides,
.drinks,
.fishes {
    width: 90%;
    margin: auto;
}

.starter,
.main,
.side,
.drink,
.fish {
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.starter-img,
.main-img,
.side-img,
.fish-img {
    width: 50px;
    height: 50px;
    border: 2px double silver;
    border-radius: 50%;
}

.starter-body,
.main-body,
.side-body,
.drink-body,
.fish-body {
    width: 90%;
    margin: 0 2px;
    text-align: center;
}

.starter-name,
.main-name,
.side-name,
.drink-name,
.fish-name {}

.starter-price,
.main-price,
.side-price,
.drink-price,
.fish-price {}

.about-us {
    /* background-image: url('../images/crop2.png'); */
    visibility: hidden;
}

.about-body {
    opacity: 70%;
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    width: 80%;
    margin:auto;
    color: white;
    font-size: 1.5em;
    text-shadow: 0px 0px 3px black;
    filter: drop-shadow(0px 0px 2px black);
    background-color: rgba(171, 171, 171, 0.333);
    border: 2px double black;
    border-radius: 5px;
}

.about-us::before {
    content: "";
    width: 100vw;
    height: 600px;
    position: fixed;
    opacity: 60%;
    bottom: 0;
    z-index: -1;
    background-image: url('../images/crop2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.contacts-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacts {
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    background-color: rgba(171, 171, 171, 0.333);
    box-shadow: 0px 0px 5px black;
    border-radius: 2px;
}
.contact {
    background-color: rgba(171, 171, 171, 0.133);
    padding-left: 15px;
    border: 1px groove white;

}

.phone,
.email,
.address {
    margin: 10px 5px;
}
.phone p,
.email p,
.address p{
    margin: 5px 0;
}
.phone a,
.email a,
.address a{
    margin: 5px;
    text-decoration: none;
}
.phone a:hover,
.email a:hover,
.address a:hover{
    cursor: pointer;
    color: rgb(68, 27, 149);
}

iframe {
    width: 40%;
    height: 160px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 2px black;
}

.chefy {
    margin: 5px 0;
    margin-left: 60%;
}

footer {
    background: #fff;
    text-align: center;
}

@media only screen and (max-width:800px) {
    .chefy {
        margin-left: 50%;
    }
}
@media only screen and (max-width:630px) {
    body {
        font-size: 16px;
    }

    .contacts {
        width: 60%;
        flex-direction: column;
    }
    iframe {
        width: 100%;
    }
}
@media only screen and (max-width:466px) {
    .chefy {
        margin-left: 40%;
    }
    
}
@media only screen and (max-width:360px) {
    body {
        font-size: 14px;
    }
    .shell-cove {
    margin-left: 30%;
    }
}